/// Box ///
html { -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }


/// Estilos link ///
a {
    color: $morado;
    text-decoration: none;
  }