///Font Family
/// @type List
$text-font-stack: 'Pacifico', cursive !default;

///Code font family
/// @type List
$code-font-stack: 'Antic Slab', serif !default;



/// Blanco
/// @type Color
$blanco: rgb(255,255,255) !default;

/// Link
/// @type Color
$morado: rgb(128, 0, 128) !default;

/// Border
/// @type Color
$gris: rgb(220, 220, 220) !default;



/// Tamaño container
/// @type Length
$max-width: 960px !default;



/// Breakpoints
$breakpoints: (
  'small': 576px,
  'medium': 768px,
  'large': 992px;
  'extralarge': 1200px,
) !default;